<%- include('./layouts/header') %>
    <div class="container content-wrapper">
        <section class="content-header">
            <div class="input-group mb-3">
                <input type="text" class="form-control input-box" id="mySearchText" placeholder="Search hospital" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-append">
                  <!-- <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search" aria-hidden="true"></i></span> -->
                  <button class="btn btn-info btn-sm " id="mySearchButton">Search</button>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="table-responsive">
                <table id="hospitalTable" width="100%" class="table">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0; i< hospitals.length; i++){ %>
                        <tr>
                            <td>
                                <div class="card">
                                <div class="card-img-body">
                                <img class="card-img" src="/images/logo.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title"><%=hospitals[i].hospital_name%></h4>
                                    <h6 class="card-subtitle mb-2 text-muted"><%=hospitals[i].phone%></h6>
                                    <p class="card-text"><%=hospitals[i].address%></p>
                                    <a href="#" class="card-link"><%=hospitals[i].email%></a>
                                    <a href="#" class="card-link"><%=hospitals[i].website%></a>
                                    <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                </div>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
<%- include('./layouts/footer') %>
