<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/select2.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper -->
    <div class="login-wrapper">           
    <div class="container-center">
        <% if (typeof success != 'undefined' && success) { %>
            <div class="alert alert-success"><%= success %></div>
            <% } else if(typeof error != 'undefined' && error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
    <div class="login-area">
        <div class="panel panel-bd panel-custom">
            <div class="panel-heading-">
                <div class="view-header-">
                    <div class="header-title-">
                        <img src="/images/logo3.jpg" class="logo-login" alt="">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form action="/appointment/create" name="welcomeform" method="post"  id="loginForm" >
                    <div class="form-group">
                        <label class="control-label" for="regions">Region</label>
                        <select name="regions" class="form-control search-select pmd-select2" id="regions">
                            <option value="">Please select</option>
                            <%for(var i=0;i< regions.length;i++){%>
                                <option value="<%=regions[i].Region%>"><%=regions[i].Region%></option>
                            <%}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="districts">District</label>
                        <select name="districts" class="form-control search-select" id="districts">
                            <option value="">Please select</option>
                            <%for(var i=0;i< districts.length;i++){%>
                                <option value="<%=districts[i].Districts%>"><%=districts[i].Districts%></option>
                            <%}%>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-block btn-add">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>